*{
	margin: 0px;
	padding: 0px;
}

.main-sec{
	display: flex;

}

/*Style for sidebar */


.sidebar-main{
	position: fixed;
	z-index: 1000;
	height: 730px;
	width: 270px;
	color: white;
	background-color: #0b111e;
	border-right: 1px solid grey;
}
.sidebar-logo{
	display: flex;
	align-items: center;
	height: 70px;
	gap: 10px;
	margin-left: 35px;
}
.hr-line{

	border: 1px solid grey;

}
.sidebar-logo i{
	height: 37px;
	width: 40px;
	color: black;
	align-content: center;
	border-radius: 16px;
	background-color: #1eaeee;
}
.sidebar-logo span{
	color: #0dcaf0;

}
.side-head-dash{
	display: flex;
	height: 40px;
	width: 240px;
	color: #0da3c4;
	background-color: #0c2737;
	align-items: center;
	border-radius: 12px;
	margin-top: 15px;
	margin-left: 10px;
	gap: 10px;
}
.side-head-dash i{
	margin-left: 10px;
	font-size: 20px;
}
.side-head{
	display: flex;
	color: #afc2d6;
	gap: 10px;
	margin-left: 20px;
	margin-top: 26px;
	font-size: 17px;
	 padding: 8px 10px;
    border-radius: 8px;
    transition: 0.3s;
}
.side-head:hover{
	color: white;
	background-color: grey;
	align-items: center;
	cursor: pointer;
}


/*Style for Navbar*/

.navbar{
    position: fixed;
    z-index: 1000;
    margin-left: 270px;
	display: flex;
	align-items: center;
	gap: 700px;
	height: 70px;
	width: 1268px;
	color: white;
	background-color: #080c16;
	border: 1px solid #6c7e97;
}
.navbar-right{
	display: flex;

}
.nav-head{
	margin-left: 20px;
}
.nav-head p{
  color: #6c7e97;
}
.search{
	height: 30px;
	width: 260px;
	border: 1px solid #6c7e97;
	background-color: #101622;
	color: #6c7e97;
	align-content: center;
	border-radius: 8px;
}
.search i{
	margin-left: 10px;
}
.search input{
   border: none;
   background-color: #101622;
   margin-left: 10px;
}
.icons-nav{
	display: flex;
}
.icons-nav i{
	color: #6c7e97;
	font-size: 17px;
	margin-left: 15px;
	margin-top: 10px;
	
}
.icons-nav p{
	height: 35px;
	width: 35px;
	border: 3px solid #2a95de;
	background-color: #1d2435;
	border-radius: 70px;
	text-align: center;
	align-content: center;
	margin-left: 15px;

}


/*style for herosection*/


.main-herosection{
	height: 970px;
	width: 1250px;
	background-color: #070c16;
	margin-left: 270px;
	margin-top: 70px;
}
.cards-hero{
	display: flex;
	gap: 20px;
	margin-left: 20px;
	padding-top: 30px;
	
}
.first-card{
	display: flex;
	background-color: #0d121d;
	color: white;
	height: 125px;
	width: 285px;
	border: 1px solid grey;
	border-radius: 12px;

}
.first-card:hover{
	border: 1px solid #17b9ef;
	cursor: pointer;
	transform: translate3d(0px, -2px, 0px);
	transition: 0.2s;
}
.text-cards{
	margin-left: 15px;
	margin-top: 15px;
}
.text-cards h3{
	color: #4a576c;
}
.text-cards h2{
	color: #e0e9f1;
	margin-top: 8px;
}
.text-cards p{
	color: #4a576c;
	margin-top: 10px;
}
.text-cards span{
	color: green;
}
.first-card i{
	height: 40px;
	width: 40px;
	color: black;
	
	margin-left: 80px;
	margin-top: 30px;
	align-content: center;
	border-radius: 9px;

}
#users{
	background-color: #17b9ef;
}
#dollar{
	background-color: #31b778;
}
#growth{
	background-color: #8d50d3;
}
#folder{
	background-color: #ef932b;
}
.weekly-overview{
	height: 280px;
	width: 790px;
	margin-top: 30px;
	margin-left: 20px;
	border-radius: 12px;
	background-color: #0b101c;
	border: 1px solid grey;
}
.weekly-overview:hover{
    border: 1px solid #1eaeee;
    transform: translatey(-4px);
    transition: 0.7s;

}
.weekly-overview p{
	color: #dfe8f0;
	margin-left: 20px;
	margin-top: 20px;
  
}
.weekly-overview span{
	color: #71849e;
	margin-left: 20px;
}
.percentage{
	display: flex;
	gap: 58px;
	margin-top: 160px;
	margin-left: 20px;
	

}
.weeks{
	display: flex;
	gap: 63px;
	margin-top: 10px;
	margin-left: 20px;
	
}
.after-card{
	display: flex;
}
.key-matrics{
	height: 260px;
	width: 380px;
	border: 1px solid grey;
	color: #71849e;
	background-color: #0b101c;
	margin-top: 30px;
	margin-left: 20px;
	border-radius: 12px;
	padding-top: 20px;
	padding-left: 10px;
}
.key-matrics:hover{
    border: 1px solid #1eaeee;
    transform: translatey(-4px);
    transition: 0.5s;	
}
.conversation{
	display: flex;
	justify-content: space-between;
}
.main-line{
	width: 300px;
	 margin:20px 0;
}
.line{
	background:#ddd;
	 height:10px; 
	 border-radius:10px;
	
}
.sec-line{
	width:68%;
	height:10px;
	background:linear-gradient(to right, #00c6ff, #0072ff);
    border-radius:10px;

}
.line-2nd{
	background:#ddd;
	 height:10px; 
	 border-radius:10px;
	
}
.sec-line-2nd{
	width:34%;
	height:10px;
	background:linear-gradient(to right, #00c6ff, #0072ff);
    border-radius:10px;

}
.line-3rd{
	background:#ddd;
	 height:10px; 
	 border-radius:10px;
	
}
.sec-line-3rd{
	width:86%;
	height:10px;
	background:linear-gradient(to right, #00c6ff, #0072ff);
    border-radius:10px;

}



.main-footer{
	height: 410px;
	width: 1170px;
	border: 0.5px solid grey;
	background-color: #0c111d;
	margin-top: 30px;
	margin-left: 30px;
	border-radius: 14px;
}
.main-footer:hover{
    border: 1px solid #1eaeee;
    transform: translatey(-4px);
    transition: 0.7s;	
}
.header{
	height: 70px;
	border: 0.2px solid #222734;
	color: white;
	border-top-left-radius: 14px;
	border-top-right-radius: 14px;
}
.header p{
	
	margin-left: 20px;
	margin-top: 20px;
}
.header span{
	color: #6c7e99;
	margin-left: 20px;
}
.start{
	display: flex;
	gap: 180px;
	padding: 9px 0px 9px 70px;
	color: #526076;
	border: 0.2px solid #222734;
	border-top: none;
}
.first-user{
	display: flex;
	height: 60px;
	align-items: center;
	padding-left: 10px;
	border: 0.2px solid #222734;
	border-top: none;
	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 12px;

}
.first-user:hover{
	background-color: #0E1A2B;
}
.icon{
	color: white;
	border: 1px solid black;
	margin-left: 20px;
	height: 30px;
	width: 30px;
	border-radius: 20px;
	align-content: center;
	text-align: center;
	color: #c4d4e3;
	background-color: #1d2435;
}
.name{
	color: #d8e1e9;
	margin-left: 10px;

}
.action{
	color: #7588a3;
	margin-left: 110px;
}
.projects{
	color: #7588a3;
	margin-left: 155px;
}
.time{
	color: #7588a3;
	margin-left: 170px;
}
.status{
	height: 20px;
	width: 100px;
	color: #2daf74;
	background-color: #112b2b;
	align-content: center;
	text-align: center;
	margin-left: 145px;
	border: none;
	border-radius: 9px;
}
.in-progress{
	height: 20px;
	width: 90px;
	color: #4799eb;
	background-color: #15243b;
	align-content: center;
	text-align: center;
	margin-left: 145px;
	border: none;
	border-radius: 9px;
}
.pending{
	height: 20px;
	width: 80px;
	color: #f0ad3a;
	background-color: #2e2921;
	align-content: center;
	text-align: center;
	margin-left: 145px;
	border: none;
	border-radius: 9px;	
}